:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/*disables scroll bars*/
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

/**/
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  user-select: none;
  user-zoom: fixed;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Helvetica, Monaco;
  font-weight: 400;
  /*base colors*/
  --th-cl0: #1d1d1d;
  --th-cl0-l: #2d2d2d;
  --th-cl1: #4d3d3d;
  --th-cl2: #8d3d3d;

  /*text colors*/
  --th-txt-primary: #ededed;
  --th-txt-active: #f9f900;
  --th-txt-secondary: #fc2d2a;
  /*component colors*/
  --th-accent-cl: #3d3d3d;
  --th-accent-cl-hover: #8d3d3d;
  --th-bg-color: #1d1d1d;
  --th-view-bg-color: #6d6d6d;
}

/* Color pallet */

/* attacheables */
.bordered {
  border: 1px solid var(--th-accent-cl);
}

.bordered:hover {
  border: 1px solid var(--th-accent-cl-hover);
}

.margin-y-sm {
  margin-block: 10px;
}

/* components ;*/
.an-header {
  text-transform: uppercase;
  grid-area: header;
  display: flex;
  font-weight: bold;
  align-items: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.an-viewport {
  grid-area: viewport;
  display: block;
  width: 100%;
  height: 100%;
}

/* MENUs */
.an-menu {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.an-menu>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.an-menu>ul>li {
  padding: 0;
  margin: 0;
  display: flex;
}

.an-menu>ul>li:nth-child(odd) {
  background: color-mix(in srgb, var(--th-cl0-l) 70%, transparent);
}

.an-menu>legend {
  background: var(--th-accent-cl);
}

.an-menu:hover>legend {
  background: var(--th-accent-cl-hover);
}

fieldset:has(> legend)[class~="an-menu"]>legend {
  width: 100%;
  display: flex;
}

.menu-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-bar>li {
  display: flex;
  margin: 0;
  padding: 0 5px;
  float: left;
  text-align: center;
}

/*Special MENUs*/
.an-left-sidemenu {
  grid-area: leftmenu;
  overflow: hidden scroll;
  position: relative;
  /* height: 101%; */
}

.an-left-sidemenu::after {
  display: block;
  content: "";
  width: 0px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.an-left-sidemenu:hover::after {
  background: var(--th-accent-cl-hover);
  width: 0.57ch;
  border-radius: 10px;
}

.an-right-sidemenu {
  grid-area: rightmenu;
  display: block;
  overflow: hidden scroll;
}

/*STATUS BAR */
.an-statusbar {
  grid-area: status;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Overloads*/
button {
  background: rgba(var(--th-cl0), 0.8);
  color: var(--th-txt-primary);
  border: var(--th-button-border, none);
  margin: 0;
  width: 100%;
  padding: 3px;
}

button:hover {
  background: var(--th-cl1);
  color: var(--th-txt-secondary);
}
